<div class="table-page" style="display: none">
    <div class="heading">
        <span><strong>Data Table</strong></span>
    </div>
    <div class="table-с">
        <table class="table_blur" id="tbl">
            <tr>
                <th>Master Name</th>
                <th>Completion date</th>
                <th>Date of completion</th>
                <th>Repair cost</th>
            </tr>
            <tr>
                <td>Master1</td>
                <td>15/09/2020</td>
                <td>25/10/2020</td>
                <td>23.5$</td>
            </tr>
            <tr>
                <td>Master2</td>
                <td>15/09/2020</td>
                <td>25/10/2020</td>
                <td>45.23$</td>
            </tr>
            <tr>
                <td>Master1</td>
                <td>15/09/2020</td>
                <td>25/10/2020</td>
                <td>33.3$</td>
            </tr>
            <tr>
                <td>Master4</td>
                <td>15/09/2020</td>
                <td>25/10/2020</td>
                <td>22.3$</td>
            </tr>
        </table>
    </div>
    <div class="select-style-table">
        <form onsubmit="return false">
            <strong>Select style table</strong>
            <p><label for="styles">Style:</label>
                <select type="text" id="styles">
                    <option>Style 1</option>
                    <option>Style 2</option>
                </select>
            </p>
            <p>
                <input type="submit" value="Применить" id="btn-click" onclick="changedTableStyle()">
            </p>
        </form>
    </div>
</div>
