<div class="about">
    <div class="about-info">
        <span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            This website was developed by a student
            of the Gomel State Technical University
            named after P.O. Sukhoi, 4th year student,
            specialty "Information systems and
            technologies in production and design."
        </span>
        <hr>
    </div>
    <div class="contacts">
        <div class="contacts-label">
            <span><strong>Contact Information:</strong></span>
        </div>
        <div class="email">
            <div class="email-label">
                <strong>Email:</strong>
            </div>
            &nbsp;
            <div>
                <i>mikhailsaladkou@gmail.com</i>
            </div>
        </div>
        <div class="phone">
            <div class="phone-label">
                <strong>Mobile phone:</strong>
            </div>
            &nbsp;
            <div>
                <i>+375336825667</i>
            </div>
        </div>
    </div>
</div>
