<div class="home-page">
    <div class="heading">
        <p>Information about web-site "Car Service"</p>
    </div>
    <br>
    <div class="text">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Information web-site
            <i>"Car Service"</i> represents the interests of everyone
            user and provides information on all maintenance
            service. Besides the list services, the user
            has access to the entire contact information
            for clarification information from the
            employee.
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;More information is on the following tabs:<br></p>
        <ol class="rounded">
            <li><a href="#">Home (detailed description)</a></li>
            <li><a href="#">Table (list of completed orders)</a></li>
            <li><a href="#">About (information about the author)</a></li>
        </ol>
    </div>
</div>
