.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3vh 5vw;
}
hr{
    margin-top: 5vh;
}
.contacts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5vh;
}
.email, .phone {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
