@import "utils";

$background-color: #fff;
$font-family: "GT Walsheim Pro", sans-serif;

header{
  @include flex-container($flex_direction: row);
  height: 15vh;
  width: 100%;
  @if ($background-color != #fff){
    $background-color: #fff;
  }
  background-color: $background-color;
  @include box-shadow(0 0.2rem 0.2rem lightgray);
  z-index: 1;

  & .description{
    @include flex-container($flex_direction: inline);
    justify-content: center;
    align-content: center;
    width: 90vw;
    font-size: 1.4em;
    @if ($font-family != "GT Walsheim Pro", sans-serif){
      $font-family: "GT Walsheim Pro", sans-serif;
    }
    font-family: $font-family;
  }
  & .info{
    @include flex-container($flex_direction: inline);
    width: 5vw;
    height: 15vh;
    justify-content: center;
    align-content: center;

    @for $item from 1 to 2{
      &:hover{
        cursor: pointer;
      }
    }

    $item: 1;
    @while $item > 0{
      &:active{
        background-color: #fff;
        color: #30419b;
      }
      $item: $item - 1;
    }
  }
}
