.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 80vh;

  & .content_inner{
    width: 80vh;
    min-width: 80vh;
    max-width: 80vh;
    height: 80vh;
    min-height: 80vh;
    max-height: 80vh;
    margin: 0 auto;
    overflow: auto;

    & .image{
      width: 450px;
      min-width: 400px;
      height: 400px;
      min-height: 400px;
      margin: 5vmin auto;
      box-shadow:lightgray 0 0 2vmin .2vmin;
      z-index: -10;
    }
  }
}