.page{
  display: grid;
  grid-template-rows: 40vh 40vh 40vh 50vh 70vh;
  max-width: 80vw;
  max-height: 100vh;
  margin: 5vmin auto;

  & .part{
    display: flex;
    flex-direction: column;
    margin: 3vmin 0;
    box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.1);

    & .part-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-height: 30vh;
      overflow-y: auto;
      margin: 2vmin 0;
      
      & div{
        margin: 1vmin 0;
        font-family: "Google Sans", Roboto, sans-serif;
        font-size: 2.5vmin;
      }
    }

    & .part-label{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 1vmin 0;
      font-family: "Google Sans Medium", Roboto, sans-serif;
      font-size: 2.4vmin;
    }

    & .edit-overwriting-data{
      display: grid;
      grid-template-columns: 50% 50%;
      margin: 5vmin;
      overflow-y: auto;

      & .add-data{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        & .add{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          font-family: "Google Sans", Roboto, sans-serif;
          font-size: 3vmin;
          align-items: center;
          justify-content: space-between;

          & div{
            display: flex;
            margin: 2vmin 2vmin;
          }

          & .add-separator{
            margin: 0 2vmin;
          }
        }

        & .btn-add{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0 2vmin;
          justify-content: space-between;
          align-items: center;

          & .btn{
            display: flex;
            padding: 1vmin 3vmin;
            border: lightgray .4vmin solid;
            background-color: lightgray;
            color: white;
            font-family: "Google Sans", Roboto, sans-serif;
            font-size: 2.5vmin;
            border-radius: .9vmin;

            &:hover{
              background-color: #fff;
              color: black;
              transition-duration: .4s;

              &:active{
                background-color: lightgray;
                color: white;
              }
            }
          }
        }
      }

      & .edit-data{
        @extend .add-data;

        & .edit{
          @extend .add;
        }

        & .btn-edit{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0 2vmin;
          align-items: center;
          justify-content: space-between;

          & .btns{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            & .btn{
              display: flex;
              padding: 1vmin 3vmin;
              border: lightgray .4vmin solid;
              background-color: lightgray;
              color: white;
              font-family: "Google Sans", Roboto, sans-serif;
              font-size: 2.5vmin;
              border-radius: .9vmin;

              &:hover{
                background-color: #fff;
                color: black;
                transition-duration: .4s;

                &:active{
                  background-color: lightgray;
                  color: white;
                }
              }
            }

            & div:last-child{
              margin-left: 1.5vmin;
            }
          }
        }
      }
    }
  }
}