.root{

  & .data{
    & .inner{
      display: grid;
      grid-template-rows: 7vh 25vh;
      max-width: 80vw;
      width: 80vw;
      height: 36vh;
      margin: 2vmin auto;
      border-radius: 2vmin;
      box-shadow: lightgray 0 .4vmin 2vmin .2vmin;

      & .label{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 5vmin;
      }

      & .data-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1vmin 0;
        width: 80%;
        margin: 0 auto;
        overflow-x: auto;
        font-size: 2.2vmin;
        border-top: lightgray .3vmin solid;

        & div{
          margin: 1vmin 0;
        }
      }
    }
  }
  
  & .log{
    & .inner{
      display: grid;
      grid-template-rows: 8vh auto;
      width: 80vw;
      height: 36vh;
      margin: 2vmin auto;
      border-radius: 2vmin;
      box-shadow: lightgray 0 .4vmin 2vmin .2vmin;

      & .label{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 5vmin;
      }

      & .data-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1vmin 0;
        width: 80%;
        margin: 0 auto;
        overflow-x: auto;
        font-size: 2.2vmin;
        border-top: lightgray .3vmin solid;

        & div{
          margin: 1vmin 0;
        }
      }
    }
  }

  & .add-event{
    & .inner{
      display: grid;
      grid-template-rows: 8vh auto;
      justify-content: center;
      width: 80vw;
      height: 56vh;
      margin: 2vmin auto;
      border-radius: 2vmin;
      box-shadow: lightgray 0 .4vmin 2vmin .2vmin;

      & .label{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 5vmin;
      }

      & .data-content{
        display: flex;
        justify-content: space-between;
        padding: 1vmin 0;
        margin: 0 auto;
        border-top: lightgray .3vmin solid;

        & .content{
          display: grid;
          width: auto;
          grid-template-rows: repeat(6, auto);

          & .add{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            & div:first-child{
              font-size: 2.5vmin;
            }

            & div:last-child{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;

              & div:first-child{
                margin-right: 1vmin;
              }
            }
          }
        }
      }
    }
  }
}