.root .data .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 7vh 25vh;
      grid-template-rows: 7vh 25vh;
  max-width: 80vw;
  width: 80vw;
  height: 36vh;
  margin: 2vmin auto;
  border-radius: 2vmin;
  -webkit-box-shadow: lightgray 0 .4vmin 2vmin .2vmin;
          box-shadow: lightgray 0 .4vmin 2vmin .2vmin;
}

.root .data .inner .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5vmin;
}

.root .data .inner .data-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vmin 0;
  width: 80%;
  margin: 0 auto;
  overflow-x: auto;
  font-size: 2.2vmin;
  border-top: lightgray .3vmin solid;
}

.root .data .inner .data-content div {
  margin: 1vmin 0;
}

.root .log .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8vh auto;
      grid-template-rows: 8vh auto;
  width: 80vw;
  height: 36vh;
  margin: 2vmin auto;
  border-radius: 2vmin;
  -webkit-box-shadow: lightgray 0 .4vmin 2vmin .2vmin;
          box-shadow: lightgray 0 .4vmin 2vmin .2vmin;
}

.root .log .inner .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5vmin;
}

.root .log .inner .data-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vmin 0;
  width: 80%;
  margin: 0 auto;
  overflow-x: auto;
  font-size: 2.2vmin;
  border-top: lightgray .3vmin solid;
}

.root .log .inner .data-content div {
  margin: 1vmin 0;
}

.root .add-event .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8vh auto;
      grid-template-rows: 8vh auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  height: 56vh;
  margin: 2vmin auto;
  border-radius: 2vmin;
  -webkit-box-shadow: lightgray 0 .4vmin 2vmin .2vmin;
          box-shadow: lightgray 0 .4vmin 2vmin .2vmin;
}

.root .add-event .inner .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5vmin;
}

.root .add-event .inner .data-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1vmin 0;
  margin: 0 auto;
  border-top: lightgray .3vmin solid;
}

.root .add-event .inner .data-content .content {
  display: -ms-grid;
  display: grid;
  width: auto;
  -ms-grid-rows: (auto)[6];
      grid-template-rows: repeat(6, auto);
}

.root .add-event .inner .data-content .content .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root .add-event .inner .data-content .content .add div:first-child {
  font-size: 2.5vmin;
}

.root .add-event .inner .data-content .content .add div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.root .add-event .inner .data-content .content .add div:last-child div:first-child {
  margin-right: 1vmin;
}
/*# sourceMappingURL=content.css.map */