footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: lightgray 0 -1vmin 2vmin 0;
  font-size: 2vmin;

  & .footer_inner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto 2vmin;

    & .fio{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: .2vmin .2vmin;
    }

    & .email,
    & .time{
      @extend .fio
    }
  }
}
