html,
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root{
  display: grid;
  grid-template-rows: 40vh 40vh 40vh 40vh 60vh;
}

.btn{
  padding: 1vmin 3vmin;
  background-color: #d757f7;
  color: #fff;
  border-radius: 1vmin;
  border: #d757f7 .4vmin solid;

  &:hover{
    background-color: #fff;
    color: #d757f7;
    transition-duration: .4s;

    &:active{
      background-color: #d757f7;
      color: #fff;
    }
  }
}

input{
  padding: 1vmin;
  font-size: 2.5vmin;
  border-radius: 1vmin;
  max-width: 20vw;
}

select{
  padding: 1vmin;
  font-size: 2.5vmin;
  border-radius: 1vmin;
}